<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\style.css">
    <title>AdminPage</title>
</head>
<body>
    <div><br></div>
    <div id="title"><h2>Admin Dashboard</h2></div>

    
    <div id="container">
        <h3>Statistics</h3>
        <p>Active Users: {{ active_users }}</p>
        <p>Total Campaigns: {{ total_campaigns }}</p>
        <p>Public Campaigns: {{ public_campaigns }}</p>
        <p>Private Campaigns: {{ private_campaigns }}</p>
        <p>Total Ad Requests: {{ total_ad_requests }}</p>
        <p>Flagged Content: {{ flagged_content }}</p>
    </div>

    
</body>
</html>


